
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
  color: white;
  padding: 0 3em;
  padding-bottom: 2em;
}

.App-link {
  color: #61dafb;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product {
  border: 1px solid whitesmoke;
  padding: 0 20px;
  border-radius: 7px;
}

.product h2 {
  margin-bottom: 0;
}

.product p {
  font-size: 0.8em;
}

.price {
  color: grey;
  font-weight: bold;
}

.CategoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cat-button {
  padding: 10px;
  color: white;
  background-color: teal;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  font-size: 16px;
  transition: all ease 0.2s;
}

.cat-button .qty-bubble {
  font-size: 12px;
  background-color: rgb(83, 83, 83);
  margin: 0 10px;
  padding: 8px 11px;
  border-radius: 50px;
  border: none;
  color: white;

}

.selected-category {
  background-color: rgba(10, 74, 74, 0.697);
  transform: translateY(3px);
}

.filters {
  margin: 1em 0;
}
